@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --font-noto-sans-jp: 'Noto Sans JP', sans-serif;
  --font-kosugi-maru: 'Kosugi Maru', sans-serif;
}

body {
  font-family: var(--font-inter);
  /* font-family: var(--font-noto-sans-jp);
  font-family: var(--font-kosugi-maru); */
}

/* 
article {
  font-family: var(--font-inter);
}

p,
li {
  font-family: var(--font-kosugi-maru);
} */
